body {
    margin: 0;
    padding: 0;
    background-image: url('./assects/osan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.main {
    margin-left: 100px;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    margin-right: 100px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 15px;
    border: 1px solid;
    background-color: rgb(15, 14, 14);
    padding: 5px;
}

.header a.logo:hover {
    background-color: rgb(62, 54, 54);
}

.header-right {
    float: right;
}

.middle {
    width: 300px;
    color: rgb(238, 236, 232);
    margin-top: 200px;
}

.right-div {
    width: 50px;
    height: 100vh;
    background-color: #ccc;
}

.bar {

    float: right;
    width: 50px;
    background-color: rgb(199, 199, 197);
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menubar {
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

.middleImage {
    align-items: center;
    margin-top: 250px;
}

.middleImage img {
    padding-top: 20px;
    margin: 0 10px;
    height: 18px;
}
.start{
    padding: 5px;
    border-radius: 5px;
    background-color: bisque;
    border-color: bisque;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}